language: python

python:
  - 3.7

git:
  submodules: false

before_install:
  # cannot use SSH to fetch submodule
  - sed -i 's#git@github.com:#https://github.com/#' .gitmodules
  - git submodule update --init --recursive

install:
  - pip install -r requirements.txt

script: qgis-plugin-ci --version

deploy:
  provider: script
  script: qgis-plugin-ci release ${TRAVIS_TAG} --github-token ${GH_TOKEN} --create-plugin-repo --osgeo-username ${OSGEO_USERNAME} --osgeo-password ${OSGEO_PASSWORD}
  on:
    tags: true

env:
  global:
    # OSGEO_USERNAME
    - secure: "lShaxNg0MQ+7bHIMH9s4AnWyu6Pe1hKf0DxsZi0bgmU2u6gwbWs/jqh3bpK9BUZ43B16rFzVCR2QQDPZ2NMCB9xQaPFiuZgKIZRMiVW/NFYUE2Vc4PWn+iF0WUYjTJEQfwmTm3HOAYNMfIYqjzZa5pNGNn3V7hlfDF/6il/1UiCsxu0BTAEv++dM31410hqXsVCvu97RItwhv+m9Um1tcl0KC0uki8QtJzfXaVl7/QwQCQoA1rhLthoOlcThGTJNh9/d9DSMw1spxco1moTNW0Vg/lmRQL0ikPKqMpnP/e7Pl6C/7LuVxBgI++G1uf8e9XeMqd7U6rKy70iZxtwkWCyhSoEnaYAcvrGqCxnMNfa1L5XdVXFzLtmhZY2n8J2mgVVqAEEsZWTvziNRe8uNLyLQQ4qdNTDVRG+/1xCfDcpjjsQqqJ1aFZx5I0FWfNhYZGwHvtOdDxF2s+AC02/b1UXTQuYl+6f70HuB3cSnYXkEKJOmuNZfeJmIQzzGqZZHUGHRks/Pn0MTFoWJzNO9WDABBs1VVW464pZGyMn/WVQajVw+bsIricit875ieXfJAnNDsibvpKDOMcWiVJtVoy2ThG4yT99t69ywmbkoxUmDNJ4YajEuroN9ESrpRxdej8cUtILN1S0GyPkfpNQcu6iBDYos154ohxdVUpAjoLw="
    # OSGEO_PASSWORD
    - secure: "RSxYQfLN8ddOvlF70Jt00E7z52lM1X67GwOnHfcZjD5h8n9HVw2UmiPhsrNc1wY6e2i6znY/2vo/2U3iijhHAq76pByuSc5284PzSa8Gk8jP3bHIEoL0z+c57scfYDlXK12Qkra2EZQKQHgu4h3nFS7DrWx+Gh3wllroFmredWzisbVzXVO06hShqzCZ/FwvVzYxoq2SNAhTnBQPEaeTH+TE5PDrkTAsqfmurwf4aUGX6wTfCmwE68B9KqA0ewX2p51IMAd270j8zewx4G+EtechvXf9wyM5GhMeQszSvnlYUOiD1W0vkHbxcBO+wKreyD8gJs1NDbSEj7Mdq5iWw/4vQ6nfTrSMaQ03WHG2VAE7fRM0AUwTML03oDxU9C7ejCmU2vJp7FO9LmuKaar36RXoNZoqTrRDJZXh3ewK93y+0ZE/846qJpYKkkJS6bGicehBBm0LxecmmSFQsCOEaa1s/eH6O8/MiruUGswZGqwMR0gqdvsbzTQbZzMtxm2eN99up/34dIxXTKmxXq5mxv+vIUvQG3DpK0EVpw1cSwPL/ogLotsifslISXoUoDY1hGQat8q2vm2+DpdKmmh9YRxWQsDr+qa+p4k+kWk495B58NLYg8cMoyUbgZ/9oIROU8vUbAVRLFtyjZ5IHBD5cPSapSQlkPrqfwL6HcvR3kU="
    # GH_TOKEN
    - secure: "OKGC7+vnPmb8kPPr9ikCI2gdyXlA81XCnYgRdpwAmD20mMHoaXyf6yJQ/z6/lgfEYa/saN5jheAOxZETDeDVP7curBqUWJ2RR5qxMYVJFQpCLjPDrDbdr0IuFGzMQt9Krrko1silZRUtR4hBzjogfQr+wSV3hVpuFGwfrgow690AIaaWqh07LTvr2WyuN7oPKdJMOpeEOSk37xyDAkGnYQwwj3Lc+YO2Uj4yXGnFa8te3yzJ2sGX06A9j0MuEt33wUq+a3vBK+QuDXWloja9yhNIZeIW3opi94P9AIjYxxXxqbJAv6UScFGJpbu3eLvI0v/hGAz4QMiYlbmbQ+pxqXabVF1ANcfl+/5XivWzryg3T8gyXX4ZNvWWP2uObH9u3gKefL3p7WzyI7aEi97k0ugE8somaMWe1lMM3wdXlTblEuqYvgpMPvhQO2WtMf6cg64coEaXeFts6hm71Kh8KjIuPCTdI+Ojn2+aM5xndUZO6qwZL9PdlCg1xGwXBYKfVGDObbG4wCuw4jR1fcwqkAkFUvxtpPxbzBJzJGvlU6vGt9XKbZvdqC+U2WGbnLzB9MJ67ymlflWTvki/NanS/g9yuHDR6QqkXOJ2MAcyazp6o1rbgCtIivhWu6qXki2InJetO3iak0kvHOsMnVtMWvwON+Fe2zdccn8juCSmljU="
